// .login {
// 	background-image: url('../../assets/523159398.jpg');
// }


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: white;
	text-align: center;
}
